<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>About GRC</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/bs/css/bootstrap.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="/static/stylesheets/common.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">通用复习组件</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="/">选择复习内容</a></li>
                    <li><a href="/review">复习</a></li>
                    <li class="active"><a href="#">关于</a></li>
                    <li><a href="/feedback">意见反馈</a>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    
    <div class="container">
        {%if ip_warning%}
            <div class="alert alert-warning alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
               您正在使用http://shs1509-grc.appsp0t.com/访问本站。如果速度缓慢，请在C:\Windows\system32\drivers\etc\hosts(Windows) 或/etc/hosts(Linux/OS X/Android/越狱iOS)中写入74.125.128.94  shs1509-grc.appspot.com，然后通过https://shs1509-grc.appspot.com/访问本站。 
            </div>
        {%endif%}

        General Revision Component<br>
        Powered by McFloundinho @ SHS1509<br>
        Source Code at <a href="https://github.com/mcfloundinho/grc" target="_blank">https://github.com/mcfloundinho/grc</a>
    </div>



    <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/jquery-2.0.3.min.js"></script>
    <script src="/static/bs/js/bootstrap.min.js"></script>
    <script src="/static/scripts/cookie.js"></script>
  </body>
</html>
 
